{% load tz %}

<div class="race_details">
    <h1>
        {{ object.location }}  
    </h1>

    <p>
        {{ object.kind }}
        
        {% if object.cancelled %} 
            <span class="badge badge-danger">Cancelled</span> 
        {% elif object.finished %}
            <span class="badge badge-primary">Finished</span>
        {% else %}
            <span class="badge badge-success">Open</span>
        {% endif %}
    {% if object.points_multiplier > 1 %} {{ object.points_multiplier }}x 
    {% endif %} 
    
    </p>
    <p>Race Date (CET): {{ object.race_date|timezone:"Europe/Zurich" }}</p>

    <p>FIS ID: {{ object.fis_id }}</p>
    <p>Race Page: <a href=https://www.fis-ski.com/DB/general/results.html?sectorcode=AL&raceid={{ object.fis_id }}>link to FIS</a></p>

    {% if user.is_staff %} 
        <div class="btn-group" role="group">
            <a href="{% url 'edit_race' object.pk %}" class="btn btn-secondary" role="button">Edit</a>
            <a href="{% url 'update_race' object.pk %}" class="btn btn-secondary">Update from FIS</a>
            <a href="{% url 'finalize_race' object.pk %}" class="btn btn-secondary">Finalize</a> 
        </div>
    {% endif %}

</div>
