<div class="tipp mytipp rd-flex flex-row" id="{{ tipp.tipper.username }}_{{ tipp.race_event.fis_id }}">
    <div class="tipp_podium_container">
        <div class="tipp_col tipp_col_podium">     
            <div class="tipper"> <b> 
                {{ tipp.tipper.username }} </b>
                {% if tipp.race_event.finished and tipp.tipp_points_tally.is_best_tipp %}  👑 {% endif %}
            </div>
            
            <div class="place1"> {{ tipp.place_1 }} </div>
            <div class="place2"> {{ tipp.place_2}} </div>
            <div class="place3"> {{ tipp.place_3 }} </div>
            {% if tipp.race_event.dnf_eligible %}
                <div class="dnf"> {{ tipp.dnf }} </div>
            {% endif %}
        </div>
        <div class="tipp_col tipp_col_icons">
            <div class="tipp_date">  
                {% if tipp.created_on_race_day %}
                    {{ tipp.created|time:"H:i" }} | 
                {% endif %}
                {{ tipp.created|date:"d.m.y" }} 
            </div>
            {% if tipp.race_event.finished and tipp.tipp_points_tally %}
                <div class="tipp_score_expander">
                    <p>
                        <a class="btn btn-link" data-toggle="collapse" 
                            href="#tipp_details_{{ tipp.tipper.username }}" role="button" aria-expanded="false" 
                            aria-controls="tipp_details_{{ tipp.tipper.username }}">
                            {{ tipp.tipp_points_tally.total_points }}
                            🔎
                        </a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    {% if tipp.comment %}
        <hr>
        <div class="comment"> {{ tipp.comment }} </div>
    {% endif %}

    {% if tipp.tipp_points_tally %}
    <div class="collapse" id="tipp_details_{{ tipp.tipper.username }}">
        <div class="card card-body tip_score">
                <table class="tipp_racer_details">
                <tr>
                <th>Racer</th> <th>Bib</th>
                <th class="details_center">x</th> 
                <th class="details_center">Pod Pts.</th> 
                <th>Rank</th>
                <th>Correct?</th>
                </tr>

                {% for r1 in tipp.breakdown.racers %}
                    <tr>
                    <td>{{ r1.name }}</td>
                    <td class="details_center"> {{ r1.bib }}</td>
                    <td class="details_center">{{ r1.mul }}x</td> 
                    <td class="details_center"><b>{{ r1.pod_p }}</b></td>
                    <td class="details_center">{{ r1.rank }}</td>
                    <td>{{ r1.rang_correct }}</td>
                    </tr>
                {% endfor %}
                </table>
                <hr /   >
                <p><b> Podium Bonus: </b> {{ tipp.breakdown.bonus.podium_bonus }} </p>
                <p><b> Rank Bonus: </b> {{ tipp.breakdown.bonus.ranking_bonus }} </p>
                <p><b> Dnf Bonus: </b> {{ tipp.breakdown.bonus.dnf_bonus }} </p>
                {% if  tipp.tipp_points_tally.is_best_tipp %} 
                    <p><b> Alleine im Sieg: </b> {{ tipp.tipp_points_tally.is_best_tipp }} (+1)</p>
                {% endif %}
                <p><b> Race Multiplier: </b> {{ tipp.tipp_points_tally.points_multiplier }}x </p>
                <hr />
                <p><b> Total Points: </b> {{ tipp.tipp_points_tally.total_points }}</p>

        </div>
    </div>
    {% endif %}
</div>