sent_emails
analysis
istv/secret_key.txt
istv-virt
*.code-workspace
*.sqlite3
__pycache__
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
static/
.DS_Store