<!-- templates/registration/login.html -->

{% extends "registration/login_base.html" %}

{% load static %}
{% load i18n %}

{% block page_title %} Login {% endblock %}

{% block content %}
  <form class="login" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark">Login</button>

  </form>

  <div>
  No account yet? <a href="{% url 'signup' %}"><strong>Signup here</strong></a>.
  </div>
  <div>
  Forgotten password? <a href="{% url 'password_reset' %}"><strong>Reset it here</strong></a>
  </div>
{% endblock %}
