
.navbar .navbar-brand img {
    height: 40px;
  }

.races_list .race_row {
    border: 1px solid  #cccccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    display:flex;
    justify-content: space-between;

}

.races_list .race_row.cancelled {
    background-color: lightgrey
}

div.race_card_col {
    display: flex;
    flex-direction: column;
}

.tipp {
    margin-top: 5px;
    border: 1px solid  #cccccc;
    border-radius: 10px;
    padding: 10px;
}

.mytipp {
    border-width: 3px;
}

.tipp_col tipp_col_podium {
    display: flex;
    flex-direction: column;
}

.tipp_podium_container {
    display:flex;
    justify-content: space-between;

}

.tipp_col.tipp_col_icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

div.tipp_score_expander {
    margin-top: auto;
    display: block;
    text-align: right;
    margin-bottom: 0px;
}

div.tipp_score_expander p {
    margin:0px;
}

div.tipp_score_expander p a {
    padding-right:0px;
    padding-bottom:0px;
}

.details_center {
    text-align:center;
}

div.best_tipp {
    text-align: right;
 }

div.place1::before {
    content: "1. ";
  }

div.place2::before {
    content: "2. ";
  }

div.place3::before {
    content: "3. ";
  }

div.dnf::before {
    content: "dnf: ";
  }

#leaderboard {
    width: 100%;
}


.table-cell-race.alleine_im_sieg {
    background-color: lightgreen
}

.table-cell-race.negative_pts {
    background-color: lightcoral
}

.table-cell-race.tipped {
    cursor: pointer;
}

.tipp_result_accordian {
    padding-top:10px;
    padding-bottom:30px;
}

.select2-selection {
    height: 40px ! important;
}

#points_form textarea[name="reason"]  {
    height: 40px;
    width: 70%;
}

#points_form select[name="tipper"]  {
    width: 70%;
}

#points_form input[name="points"]  {
    width: 50%;
}


.pa_list .pa_card {
    border: 1px solid  #cccccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    display:flex;
    justify-content: space-between;

}

div.pa_card_col {
    display: flex;
    flex-direction: column;
}

.pa_delete {
    text-align:right;
}

.pa_points {
    margin-top:auto;
    font-weight: 700;
}

.pa_points.positive {
    margin-top:auto;
    color: darkgreen;
}
.pa_points.negative {
    margin-top:auto;
    color: darkred;
}

/*  leaderboard */
td.table-cell-total {
    font-weight: 700;
    background-color: #cccccc;
}

td.table_value {
    text-align: center
}