
{% load static %}
{% load season_functions %}
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ISTV Skitipp</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'skitipp/style.css' %}">
        
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    {% block head %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{% static 'apple-touch-icon.png' %}">
  </a>
  <a class="navbar-brand" href="#">ISTV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {% nav_seasons_list %}
      <li class="nav-item {{ race_list }}">
        <a class="nav-link" href="{% url 'race_list' %}">Races</a>
      </li>
      <li class="nav-item {{ leaderboard }}">
        <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
      </li>
      <li class="nav-item {{ point_adjustments }}">
        <a class="nav-link" href="{% url 'point_adjustments' %}">Points</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">

        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user }}
                </a>
                <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                {% if user.is_staff %} <a class="dropdown-item" href="/admin">Admin</a> {% endif %}
                {% if user.is_staff %} <a class="dropdown-item" href="{% url 'upload_race' %}">Add Race</a> {% endif %}
                {% if user.is_staff %} <a class="dropdown-item" href="{% url 'update_racers' %}">Update Start List</a> {% endif %}
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% selected_season_is_current_season as is_current_season %}
{% if not is_current_season %}
<div class="container-fluid previous-season-alert alert-warning">
  <div class="row justify-content-md-center">
    <div class="col-md-auto" style="padding:5px">
    Warning, this is an previous Season. To return to the current season, click <a href="{% url 'select_current_season' %}"> here</a>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
    <div class="row mt-4">
    {% if messages %}
        <div class="col-md-6">
        {% for message in messages %}
                <div {% if message.tags %} class="alert  alert-dismissible fade show alert-{{ message.tags }}" {% endif %} role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>

    {% block page_content %}{% endblock %}

</div>
</body>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% block javascript %}

{% endblock %}

</html>
