<!-- templates/registration/login.html -->
{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.6/css/fixedColumns.dataTables.min.css" crossorigin="anonymous">

{% endblock %}

{% block page_content %}

<div id="leaderboard" class="display">
</div>

{% if user.is_staff %}
<div>
    <a class="btn btn-primary mb-2" href="{% url 'rescore_all_races' %}" role="button">Rescore all Races</a>
</div>
{% endif %}

{% endblock %}

{% block javascript %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js" crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
    $.ajax({
            "url": '{% url 'leaderboard_data' %}',
            "success": function(json) {
                var tableHeaders = "<th>" + 'Tipper' + "</th>";
                var columns1 = [{ "data": "user.username", "className": "table-cell-tipper" }]

                tableHeaders += "<th>" + 'Total' + "</th>";
                columns1.push({ "data": "total", "className": "table_value table-cell-total" })

                tableHeaders += "<th>" + 'Start Pts' + "</th>";
                columns1.push({ "data": "preseason_adj", "className": "table_value" })

                tableHeaders += "<th>" + 'Season Pts' + "</th>";
                columns1.push({ "data": "season_adj", "className": "table_value"  })

                $.each(json.races, function(i, val){
                    tableHeaders += "<th>" + val.short_name + "</th>";
                    columns1.push({ "data": "races."+i , "className": "table_value" })
                });

                $("#leaderboard").empty();
                $("#leaderboard").append('<table id="leaderboardTable" class="display" cellspacing="0" width="100%"><thead><tr>' + tableHeaders + '</tr></thead></table>');
                //$("#tableDiv").find("table thead tr").append(tableHeaders);  

                $('#leaderboardTable').dataTable( {
                    data: json.data,
                    columns: columns1,
                    scrollY:        "300px",
                    scrollX:        true,
                    scrollCollapse: true,
                    paging:         false,
                    searching: false,
                    fixedColumns:   {
                        leftColumns: 2,
                        rightColumns: 0
                    },
                    "order": [[ 1, 'desc' ]]
                });
            },
            "dataType": "json"
        });
});
</script>

{% endblock %}
