{% extends "base.html" %}

{% block page_content %}

{% include "includes/race_info_panel.html" %}    


<div class="tipp_list">

    {% if not object.cancelled and not object.finished %}
    <a href="{{object.tipp_link}}" class="btn btn-secondary">Submit New Tipp</a>
    {% endif %}

    <div class="tipp mytipp rd-flex flex-row">
        {% if current_tipp %}
            <div>
                <div class="place1"> {{ current_tipp.place_1 }} </div>
                <div class="place2"> {{ current_tipp.place_2}} </div>
                <div class="place3"> {{ current_tipp.place_3 }} </div>
                <hr>
                <div class="dnf"> {{ current_tipp.dnf }} </div>
            </div>
        {% else %}
        No tip made yet!
        {% endif %}
    </div>
    <hr>
    {% if object.cancelled or object.finished %}
        {% for tipp in object.get_last_tipps %}
            {% if tipp.tipper != request.user %}
                <div class="tipp rd-flex flex-row">
                    <div>
                        <div class="tipper"> {{ tipp.tipper.username }} </div>
                        <div class="place1"> {{ tipp.place_1 }} </div>
                        <div class="place2"> {{ tipp.place_2}} </div>
                        <div class="place3"> {{ tipp.place_3 }} </div>
                        <div class="dnf"> {{ tipp.dnf }} </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div class="tipp rd-flex flex-row">
        Tips not yet published
    </div>
    {% endif %}
</div>



{% endblock %}