{% extends "base.html" %}

{% block page_content %}

{% include "includes/race_info_panel.html" %}    

<div>
{% if not object.cancelled and not object.finished %}
<a href="{{object.tipp_link}}"> <button>Submit New Tipp</button></a>
{% endif %}
</div>


<div class="tipp mytipp">
    {% if current_tipp %}
        <div class="place1"> {{ current_tipp.place_1 }} </div>
        <div class="place2"> {{ current_tipp.place_2}} </div>
        <div class="place3"> {{ current_tipp.place_3 }} </div>
        <div class="dnf"> {{ current_tipp.dnf }} </div>
    {% else %}
    No tip made yet!
    {% endif %}
</div>

{% if True or object.cancelled or object.finished %}
    {% for tipp in object.get_last_tipps %}
        {% if tipp.tipper != request.user %}
            <div class="tipp">
                    <div class="tipper"> {{ tipp.tipper.username }} </div>
                    <div class="place1"> {{ tipp.place_1 }} </div>
                    <div class="place2"> {{ tipp.place_2}} </div>
                    <div class="place3"> {{ tipp.place_3 }} </div>
                    <div class="dnf"> {{ tipp.dnf }} </div>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
Tips not yet published
{% endif %}



{% endblock %}