{% extends "base.html" %}

{% block page_content %}

<h1>Races</h1>
<div class="races_list container">
{% for race_event in object_list %}
    <a href="{{ race_event.get_absolute_url }}">
        <div class="row race_row {{ race_event.status }}">
            <div class="col race_location">
                {{ race_event.location }}
            </div>
            <div class="col race_kind">
                {{ race_event.kind }}
            </div>
            <div class="col race_date">
                {{ race_event.race_date|date }} 
            </div>
            <div class="col race_date">
                {% if race_event.user_has_tipped %} 
                    tipped
                {% else %}
                    --
                {% endif %}
            </div>
        </div>
    </a>
{% empty %}
    <div class="row race_row empty">No races yet.</div>
{% endfor %}
</div>

{% endblock %}