{% load static %}
<div id='race-bulk-edit-panel'>
<h3>Upload Races from FIS Calenar</h3>

{% if events %}

    <form action="{% url 'upload_races_bulk' selected_season.pk %}" method="post" class="form" id="bulk-race-form">

    {% csrf_token %}
    
    {% for event in events %}
        
    <div class="form-group">
        <h4>{{event.event_place}}</h4>
        {% for race in event.races %}
        <div>
            <input type="checkbox" name="race-checkbox-{{race.fis_id}}" 
            id="race-checkbox-{{race.fis_id}}" 
            {% if race.exists %} disabled {% endif %} 
            {% if race.exists %} checked {% endif %}>
            <label class="form-check-label col-8" for="race-checkbox-{{race.fis_id}}">
                <span>{{ race.race_date }}</span>
                <span class='ml-2 race-exists-{{race.exists}}'>{{ race.race_type }}</span>
                <span class='ml-2'>{{ race.race_category }}</span>
                <span class='ml-2'>{{ race.race_gender }}</span>
            </label>
            </div>
        {% endfor %}
        <hr />
    {% endfor %}

    </div>

    <div class="form-group">
        <div class="col-12">
            <button type="submit" name="races_submit" class="btn btn-primary mb-2 btn-block">Load races</button>
        </div>
    </div>
</form>

{% else %}

    <p>First add a calendar link, to the season, based on the following link:</p>
    <p>
        <a href="https://www.fis-ski.com/DB/alpine-skiing/calendar-results.html">
            https://www.fis-ski.com/DB/alpine-skiing/calendar-results.html
        </a>
    </p>
    <p>For example, this is the criteria for the 2022 season: <br />
        <a href="https://www.fis-ski.com/DB/alpine-skiing/calendar-results.html?eventselection=&place=&sectorcode=AL&seasoncode=2022&categorycode=WC&disciplinecode=&gendercode=M&racedate=&racecodex=&nationcode=&seasonmonth=X-2022&saveselection=-1&seasonselection=">
        World Cup 2022 Calendar
        </a>
    </p>
    <div id="imgSpinner1" style="text-align: center;">
        <p>Loading calendar...</p>
        <img src="{% static 'ajax-loader.gif' %}">
    </div>
{% endif %}

</div>